:root {
  --color-white: white;
  --color-orange: #ff5733;
  --color-darkblue-alpha: rgba(78, 78, 78, 0.671);
  --color-black: black;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0px;
}

body {
  font-weight: 400;
  line-height: 1.4;
  color: var(--color-white);
  margin: 0;
}

/* mobile friendly alternative to using background-attachment: fixed */
body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background: var(--color-orange);
  background-image:
    url(https://images.unsplash.com/photo-1574258170561-18fff154c7c6?ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

h1 {
  font-size: 60px;
  font-weight: 400;
  line-height: 1.2;
}

p {
  font-size: 20px;
  font-family: 'Proza Libre', sans-serif;
}

h1 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-family: 'Alegreya Sans SC', sans-serif;
}

label {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
  font-family: 'Proza Libre', sans-serif;
  font-size: 20px;
}

input,
button,
select,
textarea {
  margin: 0;
  line-height: inherit;
  color:#323232;
  font-family: 'Proza Libre', sans-serif;
  font-size: 20px;
}

button {
  border: none;
  font-family: 'Proza Libre', sans-serif;;
}

.container {
  width: 100%;
  margin: 3.125rem auto 0 auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

.header {
  padding: 0 0.625rem;
  margin-bottom: 1.875rem;
}

.description {
  font-weight: 200;
  font-size: 25px;
  text-shadow: 1px 1px 1px #444444;
  font-family: 'Jaldi', sans-serif;
}

.clue {
  margin-left: 0.25rem;
  font-size: 20px;
  color: #e4e4e4;
}

.text-center {
  text-align: center;
}

#name-label,
#email-label,
#number-label {
  font-family: 'Jaldi', sans-serif;
  font-size: 20px;
}

/* form */

form {
  background: var(--color-darkblue-alpha);
  padding: 2.5rem 0.625rem;
  border-radius: 0.25rem;
  margin-bottom: 40px ;
}

@media (min-width: 480px) {
  form {
    padding: 2.5rem;
  }
}

.form-group {
  margin: 0 auto 1.25rem auto;
  padding: 0.25rem;
}

.form-control {
  display: block;
  width: 100%;
  height: 4rem;
  padding: 0.4rem 1rem;
  color: #323232;
  font-size: 20px;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control:focus {
  border-color: #323233;
  outline: 0;
  box-shadow: 0 0 0 0.2rem #323232;
}

.input-radio,
.input-checkbox {
  display: inline-block;
  margin-right: 0.625rem;
  min-height: 1.25rem;
  min-width: 1.25rem;
}
.input-textarea {
  min-height: 120px;
  width: 100%;
  padding: 0.625rem;
  resize: vertical;
  font-size: 20px;
}

.submit-button {
  display: block;
  width: 100%;
  padding: 0.75rem;
  background: var(--color-black);
  color: inherit;
  border-radius: 2px;
  cursor: pointer;
  font-family: 'Jaldi', sans-serif;
  font-size: 20px;
}

.RFE {
  font-size: 20px;
}

.ninja-img {
width: 100%;
align-items: center
}

a {
  justify-items: center;
  text-decoration: none;
  color: #ced4da;
  background-color: black;
  padding: 20px;
  text-align: center;
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 50px;
}
