:root {
  --color-white: white;
  --color-orange: #ff5733;
  --color-darkblue-alpha: rgba(50, 40, 27, 0.8);
  --color-black: black;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-weight: 400;
  line-height: 1.4;
  color: var(--color-white);
  margin: 0;
}

/* mobile friendly alternative to using background-attachment: fixed */
body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background: var(--color-orange);
  background-image: linear-gradient(
      115deg,
      rgba(158, 58, 58, 0.8),
      rgba(136, 163, 206, 0.623)
    ),
    url(https://cdn.pixabay.com/photo/2019/05/16/09/13/darkness-4206708_1280.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

h1 {
  font-size: 60px;
  font-weight: 400;
  line-height: 1.2;
  font-family: "Orbitron";
}

p {
  font-size: 25px;
  font-family: "lato";
}

h1,
p {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-family: "Orbitron"
}

label {
  display: flex;
  align-items: center;
  font-size: 1.125rem;
  margin-bottom: 0.5rem;
  font-family: "lato";
  font-size: 25px;
}

input,
button,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: #cf0000;
  font-family: "lato";
  font-size: 25px;
}

button {
  border: none;
  font-family: "lato";
}

.container {
  width: 100%;
  margin: 3.125rem auto 0 auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

.header {
  padding: 0 0.625rem;
  margin-bottom: 1.875rem;
}

.description {
  font-style: italic;
  font-weight: 200;
  text-shadow: 1px 1px 1px #cf0000;
  font-family: "Orbitron"
}

.clue {
  margin-left: 0.25rem;
  font-size: 1rem;
  color: #e4e4e4;
}

.text-center {
  text-align: center;
}

#name-label,
#email-label,
#number-label {
    font-family: "Orbitron";
    font-size: 30px;
}

/* form */

form {
  background: var(--color-darkblue-alpha);
  padding: 2.5rem 0.625rem;
  border-radius: 0.25rem;
}

@media (min-width: 480px) {
  form {
    padding: 2.5rem;
  }
}

.form-group {
  margin: 0 auto 1.25rem auto;
  padding: 0.25rem;
}

.form-control {
  display: block;
  width: 100%;
  height: 4rem;
  padding: 0.400rem 1rem;
  color: #cf0000;
  font-size: 25px;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control:focus {
  border-color: #ff8080;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(255, 0, 0, 0.25);
}

.input-radio,
.input-checkbox {
  display: inline-block;
  margin-right: 0.625rem;
  min-height: 1.25rem;
  min-width: 1.25rem;
}
.input-textarea {
  min-height: 120px;
  width: 100%;
  padding: 0.625rem;
  resize: vertical;
  font-size: 25px;
}

.submit-button {
  display: block;
  width: 100%;
  padding: 0.75rem;
  background: var(--color-black);
  color: inherit;
  border-radius: 2px;
  cursor: pointer;
  font-family: "Orbitron";
  font-size: 25px
}

.RFE {
  font-size: 1rem;
}